<form class="status-form" [formGroup]="formValidator">
  <mat-form-field id="status-form--status">
    <mat-select formControlName="status" required>
      @for (status of getStatusKeys(); track status) {
        <mat-option id="mat-option-plugin--{{status}}" [value]="status">{{getStatusText(status)}}</mat-option>
      }
    </mat-select>
    @for (error of getErrors(['type']); track error) {
      <mat-error>{{ errorMessage(error) }}</mat-error>
    }
  </mat-form-field>

  <button
    id="status-form--all"
    mat-stroked-button
    color="accent"
    type="button"
    i18n
    (click)="triggerShowLog.emit()"
  >Show all</button>
  <button
    i18n
    id="status-form--save"
    mat-button
    color="primary"
    type="button"
    [disabled]="!formValidator.valid || formValidator.value.status === status"
    (click)="save()"
  >Save</button>
</form>
