@use "variables.scss";

.content-container {
  display: grid;
  height: 100%;
  form {
    background: white;
    padding: 40px;
    place-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: variables.$medium_distance;
    grid-row-gap: variables.$large_distance;
  }
  p {
    place-self: center;
  }
}
