@use "variables.scss";

.flag-image {
  width: 22px;
  place-self: center;
}

.content-container {
  color: black;

  .information-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;

    .asset-information {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: variables.$medium_distance;
      grid-row-gap: variables.$small_distance;
      overflow-y: scroll;
      -ms-overflow-style: none; // IE 10+
      overflow: -moz-scrollbars-none; // Firefox
      &::-webkit-scrollbar {
        display: none; // Safari and Chrome
      }

      h2 {
        grid-column: 1 / span 2;
      }

      legend {
        // font-weight: bold;
        font-size: variables.$default_font_size;
        // text-decoration: underline;
      }

      a {
        color: black;
      }

      mat-checkbox {
        color: variables.$color_turquoise;
        padding: variables.$medium_distance variables.$small_distance;
      }

      .asset-information--last-position {
        grid-column: 1 / span 2;

        h3 {
          padding: variables.distance(1) 0px variables.distance(0.5);
          font-size: 14px;
        }

        .asset-information--last-position--content {
          background: rgba(variables.$color_light_turquoise, 0.1);
          padding: variables.distance(1);
          display: grid;
          grid-row-gap: variables.distance(0.5);

          .time-and-source {
            display: grid;
            grid-template-columns: 1fr auto;

            .time {
              font-weight: bolder;
            }
          }

          .position-speed-wrapper {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-column-gap: variables.distance(0.5);
          }
        }
      }
    }
  }
}

.button-wrapper-minified {
  display: none;

  &.active {
    display: grid;
    grid-template-columns: 1fr;

    & > * {
      padding: variables.$medium_distance;
      background: white;
    }

    .expand-asset-options {
      min-width: 50px;
      font-size: 20px;
      cursor: pointer;

      .icon-elipsis {
        display: grid;
        width: variables.$x3large_distance;
        height: variables.$x3large_distance;
        margin: 0px auto;
        &::before {
          place-self: center;
          height: variables.distance(2.5);
          width: variables.distance(2.5);
          content: "";
          background-size: variables.distance(2.5) variables.distance(2.5);
          background-image: url("/assets/svg-icons/elipsis.svg");
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.button-wrapper-expanded {
  display: none;

  &.active {
    display: grid;
    background: white;
    align-items: center;
    justify-items: center;

    .minify-button-wrapper {
      cursor: pointer;
      color: variables.$color_turquoise;
      padding: variables.$small_distance;
    }
  }

  .deselect-asset {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: variables.$medium_distance;
    align-items: center;
    color: variables.$color_warn;
    cursor: pointer;

    .icon-trash {
      display: grid;
      width: variables.$x3large_distance;
      height: variables.$x3large_distance;
      &::before {
        place-self: center;
        height: variables.distance(2.5);
        width: variables.distance(2.5);
        content: "";
        background-size: variables.distance(2.5) variables.distance(2.5);
        background-image: url("/assets/svg-icons/trash.svg");
        background-repeat: no-repeat;
      }
    }

    .deselect-asset-text {
      display: none;
    }

    &:hover {
      width: 100%;
      background: variables.$color_warn;
      color: white;

      .icon-trash {
        filter: brightness(0%) invert(1);
        justify-self: end;
      }

      .deselect-asset-text {
        display: block;
      }
    }

    i {
      font-size: 20px;
    }
  }
}
