mat-form-field {
  width: 100%;
}

.global-settings-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-part {
  display: flex;
  flex-direction: column;
  padding: 16px 1%;
}

.column-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;

  & .form-part {
    width: 48%;
  }
}

.column-right {
  display: flex;
  flex-direction: column;
  width: 30%;

  & .form-part {
    width: 98%;
  }
}
