@use "variables.scss";

$angular_material_margin: 24px;

h1.mat-mdc-dialog-title {
  margin: 0px;
  padding: 0px $angular_material_margin variables.distance(1.5);

  span.selected-assets {
    color: variables.$color_gray;
    margin-left: variables.distance(2);
  }
}

.mat-mdc-dialog-content {
  border-top: 1px solid variables.$color_dark_gray;
  padding: 0px;

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      border-bottom: 1px solid variables.$color_dark_gray;
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-column-gap: variables.distance(2);
      align-items: center;
      cursor: pointer;

      &:hover {
        background: variables.$color_cold_gray;
        color: variables.$color_turquoise;

        i {
          color: variables.$color_black;
        }
      }

      &.create-new-group {
        padding: variables.distance(1.5) $angular_material_margin;
      }

      & > * {
        &:first-child {
          padding-left: $angular_material_margin;
        }
        &:last-child {
          padding-right: $angular_material_margin;
        }
      }

      mat-radio-button label {
        padding: variables.distance(1.5) 0px;
      }

      i.ri-pencil-fill,
      i.ri-delete-bin-2-fill {
        font-size: variables.distance(3);
        padding-top: variables.distance(1.5);
        padding-bottom: variables.distance(1.5);

        &.ri-pencil-fill:hover {
          color: variables.$color_accent_light;
        }

        &.ri-delete-bin-2-fill:hover {
          color: variables.$color_warn;
        }
      }
    }
  }
}
