@use "variables.scss";

core-logged-out-dialog {
  .mat-dialog-title {
    padding-top: variables.distance(6);
  }

  .mat-dialog-content {
    padding-left: variables.distance(8);
    padding-right: variables.distance(8);
  }

  .mat-dialog-actions {
    padding-top: variables.distance(3);
    padding-bottom: variables.distance(6);
    margin-bottom: 0px;

    .login-button {
      padding: 0px variables.distance(10);
    }
  }
}
