@use "variables.scss";

.content-container {
  display: grid;
  grid-row-gap: variables.distance(2);
  padding: variables.distance(1);

  .title {
    padding-top: variables.distance(2);
  }

  .information-block {
    background: white;
    padding: variables.distance(1);
    line-height: variables.distance(2.75);

    .command {
      display: grid;
      grid-template-columns: 20px 1fr;
      align-items: start;
      grid-column-gap: variables.distance(1);

      h3 {
        padding: 0px;
      }
    }

    h4 {
      padding: variables.distance(1) 0px 0px;
    }
    .example {
      background: rgba(variables.$color_light_turquoise, 0.1);
      padding: variables.distance(1);
      ul {
        padding-left: variables.distance(2);
        margin: 0px;
      }
    }
  }
}
