@use "variables.scss";

.urgency-indicator {
  grid-area: right;
  justify-self: end;

  & > * {
    @include variables.badge();
    color: white;
  }

  .medium {
    background: variables.$color_system_yellow;
  }
  .high {
    background: variables.$color_system_red;
  }
}

.content-container {
  grid-row-gap: variables.$medium_distance;

  h4 {
    margin: 0px;
  }

  .filter-for-panel-content {
    padding-bottom: variables.$large_distance;
  }

  .incidents {
    display: grid;
    grid-row-gap: variables.$medium_distance;

    h3 {
      padding-bottom: 0px;
    }
  }

  button.btn {
    padding: variables.$medium_distance variables.$large_distance;
    background-color: variables.$color_light_green;
  }
}
