<div class="page-content">
  @if (mobileTerminal && mobileTerminalHistoryList) {
    <mobile-terminal-history-component
      [mobileTerminalHistoryList]="mobileTerminalHistoryList"
      [mobileTerminalHistoryFilter]="mobileTerminalHistoryFilter$ | async"
      [addMobileTerminalHistoryFilters]="addMobileTerminalHistoryFilters"
      [removeMobileTerminalHistoryFilters]="removeMobileTerminalHistoryFilters"
      [userTimezone]="userTimezone$ | async"
      [assets]="assets"
    ></mobile-terminal-history-component>
  }
</div>
