@use "variables.scss";

.component-content {
  .mobileTerminal {
    margin-top: variables.$distance;
    background: white;
    padding: variables.distance(2);
    display: grid;
    grid-row-gap: variables.$distance;
    margin-bottom: variables.distance(2);
  }

  // #channels {}

  .row {
    display: grid;
    grid-template-columns: 1fr auto;

    .title .text {
      display: grid;
      grid-template-columns: auto 1fr;

      &:after {
        content: "";
        border-bottom: 2px dotted variables.$color_gray;
        margin-left: variables.$distance;
        margin-right: variables.$distance;
      }
    }

    .value {
      font-weight: bold;
      &.ocean-regions span {
        &:after {
          content: ", ";
        }
        &:last-child:after {
          content: "";
        }
      }
    }
  }
}
