@use "variables.scss";

.popup-coordinates {
  ui-button-close {
    float: right;
  }
  padding: variables.$medium_distance;
  background: white;
  border: 1px solid variables.$color_gray;

  h4 {
    padding-top: variables.distance(1.5);
    padding-bottom: 0px;

    &:first-of-type {
      padding-top: 0px;
    }
  }
}
