<map-panel-block
  i18n-blockTitle
  blockTitle="Parked ({{incidents.unresolvedIncidents.length}})"
  [active]="active"
  [setActiveFunction]="setActiveFunction"
  [useArrowsAsToggle]="true"
  >

  <div header class="urgency-indicator">
    @if (overdue.length > 0) {
      <span class="high">{{overdue.length}}</span>
    }
    @if (sending.length > 0) {
      <span class="medium">{{sending.length}}</span>
    }
  </div>

  @if (active) {
    <div body class="content-container">
      <div class="filter-for-panel-content">
        <ui-button-toggle
          label="Recently resolved"
          [value]="resolved"
          [switchFunction]="switchShowResolved"
        ></ui-button-toggle>
      </div>
      @if (!resolved) {
        <div class="incidents">
          @if (overdue.length > 0) {
            <h3 i18n>Parked date overdue</h3>
            @for (incident of overdue; track trackByIncidents($index, incident)) {
              <map-incident-card cdkDrag
                [incident]="incident"
                [selectIncident]="selectIncident"
                [incidentIsSelected]="incidentIsSelected(incident)"
                urgency="HIGH"
                [countdownTo]="incident.expiryDate"
                [userTimezone]="userTimezone"
              ></map-incident-card>
            }
          }
          @if (sending.length > 0) {
            <h3 i18n>Parked and sending AIS</h3>
            @for (incident of sending; track trackByIncidents($index, incident)) {
              <map-incident-card cdkDrag
                [incident]="incident"
                [selectIncident]="selectIncident"
                [incidentIsSelected]="incidentIsSelected(incident)"
                urgency="MEDIUM"
                [userTimezone]="userTimezone"
              ></map-incident-card>
            }
          }
          @if (pending.length > 0) {
            <h3 i18n>Parked</h3>
            @for (incident of pending; track trackByIncidents($index, incident)) {
              <map-incident-card cdkDrag
                [incident]="incident"
                [selectIncident]="selectIncident"
                [incidentIsSelected]="incidentIsSelected(incident)"
                urgency="none"
                [countdownFrom]="getLastSeenTime(incident)"
                [countdownTo]="incident.expiryDate"
                [userTimezone]="userTimezone"
              ></map-incident-card>
            }
          }
        </div>
      }
      @if (resolved) {
        <div class="incidents">
          @for (incident of incidents.recentlyResolvedIncidents; track trackByIncidents($index, incident)) {
            <map-incident-card
              [incident]="incident"
              [selectIncident]="selectIncident"
              [incidentIsSelected]="incidentIsSelected(incident)"
              urgency="LOW"
              [userTimezone]="userTimezone"
            ></map-incident-card>
          }
        </div>
      }
    </div>
  }
</map-panel-block>
