@use "variables.scss";

.mobile-terminal-history--page-header {
  margin-top: variables.distance(2);
  padding: variables.distance(2) variables.distance(3);
  background: white;
  b {
    font-style: italic;
    font-size: 70%;
  }
}

.mobile-terminal-history--filter-wrapper {
  margin-top: variables.distance(2);
  padding: variables.distance(2) variables.distance(3);
  background: white;

  .filter-header {
    display: grid;
    grid-template-columns: auto 1fr 20px;
    grid-column-gap: 20px;

    h3 {
      padding-top: 0px;
    }

    .arrow {
      align-self: center;
      cursor: pointer;
      grid-column: 3;
    }
  }

  h4,
  h3 {
    padding-bottom: 0px;
  }

  h4 mat-checkbox,
  h3 mat-checkbox {
    margin-left: variables.distance(2);
    font-weight: normal;
  }

  section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.mobile-terminal-history--list {
  padding-top: variables.distance(2);
  display: grid;
  grid-row-gap: variables.distance(1);

  .mobile-terminal-history {
    padding: variables.distance(2) variables.distance(3);
    background: white;
    .history-header {
      display: grid;
      grid-template-columns: repeat(5, 1fr) 20px;
      cursor: pointer;

      &.created {
        background-color: variables.$color_accent_light;
      }
      &.archived {
        background-color: variables.$color_warn_light;
      }

      .arrow {
        align-self: center;
      }
    }

    .extended-history {
      padding-top: variables.distance(2);
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      padding-right: 20px;
      grid-row-gap: variables.distance(2);

      .channel {
        grid-column: 1 / span 5;
        display: grid;
        grid-row-gap: variables.distance(0.5);

        label {
          cursor: pointer;
          font-weight: bolder;
        }

        table {
          width: 100%;
          border-collapse: collapse;

          th,
          td {
            border: 1px solid black;
          }

          .channel-row {
            .changed {
              background-color: variables.$color_light_orange;
            }

            &.created {
              background-color: variables.$color_accent_light;
              .changed {
                background-color: inherit;
              }
            }
            &.removed {
              background-color: variables.$color_warn_light;
              .changed {
                background-color: inherit;
              }
            }
          }
        }
      }
    }
  }

  .field-column {
    cursor: pointer;
    display: grid;
    grid-row-gap: variables.distance(0.5);

    &.comment {
      grid-column: 1 / span 5;
    }

    &.changed {
      label {
        color: variables.$color_orange;
      }

      div::before {
        height: 100%;
        width: variables.distance(1);
        color: variables.$color_orange;
        display: inline-block;
        content: "»";
        font-size: 120%;
        margin-right: variables.distance(1);
      }
    }

    label {
      cursor: pointer;
      font-weight: bolder;
    }

    // .active {
    //   font-weight: bolder;
    //   color: variables.$color_accent_light;
    // }
    // .inactive {
    //   font-weight: bolder;
    //   color: variables.$color_warn;
    // }
  }
}
