@use "variables.scss";

.content-container-minimal {
  display: grid;
  grid-row-gap: variables.distance(1);
  color: variables.$color_turquoise;
  padding: variables.distance(1);

  .layer-filters {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: variables.$small_distance;

    mat-checkbox {
      background: white;
      padding: variables.$small_distance variables.$medium_distance;
    }
  }

  .viewport-wrapper.visible {
    display: grid;
    color: white;
    padding: 10px;
    overflow-y: scroll;
    background: variables.$map_overlay_background;

    -ms-overflow-style: none; // IE 10+
    overflow: -moz-scrollbars-none; // Firefox
    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }

    b.headline {
      text-decoration: underline;
      margin-bottom: variables.$small_distance;
    }
  }
}
