<div class="content-container">
  <form>
    <h4 i18n>Sign in</h4>

    <!-- Username -->
    <mat-form-field>
      <mat-label>{{ "Username" }}</mat-label>
      <input id="loginFormUsername" matInput #username />
    </mat-form-field>

    <!-- Password -->
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input id="loginFormPassword" type="password" matInput #password />
    </mat-form-field>

    <div>
      <!-- Forgot password -->
      <a href="#" i18n>Forgot password?</a>
    </div>

    <!-- Sign in button -->
    <button
      class="btn btn-primary"
      type="submit"
      (click)="submitLogin(username.value, password.value)"
      i18n
    >
      Sign in
    </button>
  </form>
</div>
