<div class="configuration-container">
  @if (menu?.length) {
  <ng-container
    [ngTemplateOutlet]="menuList"
    [ngTemplateOutletContext]="{ menu: menu }"
  ></ng-container>
  }

  <ng-template #menuList let-menu="menu">
    <ul class="menu">
      @for (item of menu; track $index) {
      <li class="menu-item" routerLinkActive="active">
        <a
          mat-button
          [disabled]="item.disabled"
          routerLink="{{ item.link }}"
          i18n
          >{{ item.name }}</a
        >
      </li>
      }
    </ul>
  </ng-template>

  <mat-card class="inner-container">
    <router-outlet></router-outlet>
  </mat-card>
</div>
