@use "variables.scss";

form.expiry-date-form {
  background: white;
  padding: variables.$small_distance;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: variables.$small_distance;
}
