<form>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n>General settings</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n>Map settings</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n>Style settings</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n>Visibility settings</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n>Layer settings</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n>Reference data settings</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <div class="action-area">
    <button mat-raised-button color="primary" i18n>Save</button>
  </div>
</form>
