@use "variables.scss";

fieldset {
  border-top: 1px solid #000;
  margin-top: variables.$large_distance;
  padding: variables.$medium_distance;
  legend {
    font-size: 90%;
    font-weight: bold;
    padding: variables.$small_distance;
    width: auto;
  }

  &.map-settings {
    mat-form-field {
      display: block;
    }

    .map-toggle-buttons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      margin-bottom: variables.$medium_distance;
    }

    .map-starting-positions,
    .map-limits {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: variables.$medium_distance;
    }

    .map-asset-colors {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

fieldset.button-block {
  button {
    margin-right: variables.$medium_distance;
  }
}

.experimental-features-warning {
  color: variables.$color_warn;
  font-style: italic;
  font-size: 90%;
}
