@use "variables.scss";
.content-container {
  display: grid;
  grid-row-gap: variables.$small_distance;

  mat-checkbox {
    background: white;
    padding: variables.$small_distance variables.$medium_distance;
  }
}
