@use "variables.scss";

.content-container {
  display: grid;
  grid-row-gap: variables.distance(1);

  .incident-log-entry {
    display: grid;
    grid-row-gap: variables.distance(1);
    grid-template-columns: 1fr auto;
    padding: variables.distance(1);
    background: white;

    .grid-entry {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .incident-log-entry--content {
      display: grid;
    }

    .incident-log-entry--expand-button {
      display: grid;
      align-items: center;

      cursor: pointer;
      font-size: variables.distance(3);
    }

    .incident-log-entry--expanded-block {
      grid-column: 1 / span 2;
      border-top: 2px solid variables.$color_gray;
      padding-top: variables.distance(1);
    }
  }
}
