<div class="contacts">
  @for (contact of contacts; track contact) {
    <div class="contact">
      <div class="left-block">
        <h2>{{contact.name}}</h2>
        <div class="field-wrapper">
          @if (contact.phoneNumber) {
            <label><span class="text" i18n>Phone number</span></label>
            <div>{{contact.phoneNumber}}</div>
          }
          @if (contact.email) {
            <label><span class="text" i18n>Email</span></label>
            <div><a href="mailto:{{contact.email}}">{{contact.email}}</a></div>
          }
          @if (contact.postOfficeBox) {
            <label><span class="text" i18n>Post office box</span></label>
            <div>{{contact.postOfficeBox}}</div>
          }
          @if (contact.postalArea) {
            <label><span class="text" i18n>Postal area</span></label>
            <div>{{contact.postalArea}}</div>
          }
          @if (contact.streetName) {
            <label><span class="text" i18n>Street name</span></label>
            <div>{{contact.streetName}}</div>
          }
          @if (contact.zipCode) {
            <label><span class="text" i18n>Zip code</span></label>
            <div>{{contact.zipCode}}</div>
          }
          @if (contact.country) {
            <label><span class="text" i18n>Country</span></label>
            <div>{{contact.country}}</div>
          }
          @if (contact.nationality) {
            <label><span class="text" i18n>Nationality</span></label>
            <div>{{contact.nationality}}</div>
          }
          @if (contact.cityName) {
            <label><span class="text" i18n>City</span></label>
            <div>{{contact.cityName}}</div>
          }
          @if (contact.owner) {
            <label><span class="text" i18n>Is owner?</span></label>
            <div>{{contact.owner}}</div>
          }
          @if (contact.source) {
            <label><span class="text" i18n>Source</span></label>
            <div>{{contact.source}}</div>
          }
        </div>
      </div>
      <div class="right-block {{contact.type.toLowerCase()}}">
        <div class="contact-type">
          <div class="icon-wrapper"><i aria-hidden="true" class="type-icon"></i></div>
          <div class="contact-type-name">{{contact.type}}</div>
        </div>
      </div>
    </div>
  }
</div>
