@use "variables.scss";

.content-container {
  display: grid;
  grid-row-gap: 2px;
  padding: variables.$small_distance variables.$medium_distance;

  &.no-padding {
    padding: 0;
  }

  .panel-block-content {
    background: white;
    padding: variables.$medium_distance;

    &.no-padding {
      padding: 0;
    }
  }

  .panel-block-header {
    color: variables.$color_turquoise;
    padding: variables.$large_distance variables.$medium_distance;
    background: white;

    &.full-header-clickable {
      cursor: pointer;
    }

    & > .arrow-toggle {
      display: grid;
      grid-template-columns: 1fr variables.distance(4);
      font-weight: 600;

      .label {
        display: grid;
        grid-column-gap: variables.$medium_distance;
        grid-template-columns: auto 1fr;
        grid-template-areas: "left right";
      }

      .arrow {
        position: relative;

        i {
          font-size: variables.distance(4);
          position: absolute;
          right: variables.distance(-0.5);
          bottom: variables.distance(-1);
        }
      }
    }
  }

  .panel-block-footer:not(.unstyled) {
    padding: variables.$medium_distance;
    background: white;
  }
}
