@use "variables.scss";

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: variables.$distance;

  .notes-list--create {
    display: grid;
    background: white;
    padding: variables.distance(2);

    h3 {
      padding: 0;
      padding-bottom: variables.distance(2);
    }
  }

  h3.all-notes {
    margin-top: variables.distance(3);
    background: white;
    padding: variables.distance(2);
  }
}
