@use "variables.scss";

$angular_material_margin: 24px;

mobile-terminal-save-unmatched-member-numbers-dialog {
  h1 {
    margin: 0px;
    padding: 0px $angular_material_margin;

    span.selected-assets {
      color: variables.$color_gray;
      margin-left: variables.distance(2);
    }
  }

  .mat-dialog-content {
    div {
      width: 100%;
      padding: 0px $angular_material_margin;
    }
  }

  .dialog-buttons {
    padding: 0px $angular_material_margin;
  }
}
