@use "@angular/material" as mat;
@import "variables.scss";
/* Plus imports for other components in your app. */

/* Include the common styles for Angular Material. We include this here so that you only
have to load a single css file for Angular Material in your app.
**Be sure that you only ever include this mixin once!** */
@include mat.elevation-classes();
@include mat.app-background();

$primary-color: (
  100: #2280a7,
  300: #2280a7,
  500: #004371,
  700: #092d4b,
  contrast: (
    100: #092d4b,
    300: #092d4b,
    500: #ffffff,
    700: #ffffff,
  ),
);

$accent-color: (
  100: #66c622,
  300: #66c622,
  500: #227e00,
  700: #01763b,
  contrast: (
    100: #01763b,
    300: #01763b,
    500: #ffffff,
    700: #ffffff,
  ),
);

$warn-color: (
  100: $color_warn_light,
  300: $color_warn_light,
  500: $color_warn,
  700: $color_warn_dark,
  contrast: (
    100: $color_warn_dark,
    300: $color_warn_dark,
    500: #ffffff,
    700: #ffffff,
  ),
);

/* Define the default theme (same as the example above). */
$primary-color-palette: mat.m2-define-palette($primary-color);
$accent-color-palette: mat.m2-define-palette($accent-color);
$warn-color-palette: mat.m2-define-palette($warn-color);
$candy-app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary-color-palette,
      accent: $accent-color-palette,
      warn: $warn-color-palette,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

/* Include the default theme styles. */
@include mat.all-component-themes($candy-app-theme);
