@use "variables.scss";

map-incident-logs > .content-container {
  display: grid;
  color: black;
  padding: variables.$medium_distance;

  mat-tab-group {
    display: grid;
    mat-tab-header {
      margin-bottom: variables.distance(1);
    }

    .mat-tab-label {
      min-width: unset;
      font-size: 80%;
      padding: 0 variables.distance(1.5);
    }
  }
}
