@use "variables.scss";

.status-column {
  max-width: 50px;
}

.status {
  border-radius: 21px;
  color: white;
  padding: 7px;

  &.green {
    background-color: variables.$color_system_green;
  }

  &.red {
    background-color: variables.$color_system_red;
  }
}
