@use "variables.scss";

.content-container {
  grid-row-gap: variables.$medium_distance;

  h4 {
    margin: 0px;
  }

  .asset-groups {
    display: grid;

    .asset-group {
      padding: variables.distance(0.5) 0px;
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-column-gap: variables.distance(1);
      align-items: center;

      i.ri-pencil-fill,
      i.ri-delete-bin-2-fill {
        font-size: variables.distance(2.5);
        display: none;
        cursor: pointer;

        &.ri-pencil-fill:hover {
          color: variables.$color_accent_light;
        }

        &.ri-delete-bin-2-fill:hover {
          color: variables.$color_warn;
        }
      }

      &:hover {
        i.ri-pencil-fill,
        i.ri-delete-bin-2-fill {
          display: block;
        }
      }
    }
  }

  button.btn {
    padding: variables.$medium_distance variables.$large_distance;
    background-color: variables.$color_light_green;
  }
}
