@use "variables.scss";

.content-container {
  grid-row-gap: variables.$medium_distance;

  h4 {
    margin: 0px;
  }

  .filter-for-panel-content {
    padding-bottom: variables.$large_distance;
  }

  .incidents {
    display: grid;
    grid-row-gap: variables.$medium_distance;
    padding: variables.distance(1);

    .incident {
      display: grid;
      grid-template-columns: variables.$medium_distance 2fr 1fr;
      grid-column-gap: variables.$medium_distance;
      grid-row-gap: variables.$small_distance;
      padding: variables.distance(1.5);
      background: #ffffff;
      cursor: pointer;

      &.other-workflow {
        background: variables.$color_background_gray;
      }

      .status {
        place-self: center;
        // border: 1px solid #000000;
        background: variables.$color_light_orange;
        border-radius: variables.$small_distance;
        width: variables.$medium_distance;
        height: variables.$medium_distance;
        display: inline-block;

        &.dangerLvl5 {
          background: variables.$color_warn;
        }
        &.dangerLvl1 {
          background: variables.$color_yellow;
        }
        &.dangerLvl0 {
          background: variables.$color_accent_light;
        }
      }

      .name {
        font-weight: bold;
        color: variables.$color_turquoise;
      }
      .ircs {
        color: variables.$color_turquoise;
      }

      .time {
        font-size: 11px;
        grid-column: 2 / span 1;
      }

      .notifications {
        position: relative;
        & > * {
          @include variables.small-badge();
          position: absolute;
        }
        .created-notifications {
          background: variables.$color_warn;
          right: variables.$xlarge_distance;
        }
        .updated-notifications {
          background: variables.$color_yellow;
          right: 0px;
        }
      }
    }
  }

  button.btn {
    padding: variables.$medium_distance variables.$large_distance;
    background-color: variables.$color_light_green;
  }
}
