@use "variables.scss";

.page-content {
  .status-info {
    background: white;
    padding: variables.distance(2);
    display: grid;
    grid-row-gap: variables.distance(1);

    .info {
      padding-top: variables.distance(3);
    }

    .row {
      display: grid;
      grid-template-columns: 1fr auto;

      .title .text {
        display: grid;
        grid-template-columns: auto 1fr;

        &:after {
          content: "";
          border-bottom: 2px dotted variables.$color_gray;
          margin-left: variables.distance(1);
          margin-right: variables.distance(1);
        }
      }

      .value {
        font-weight: bold;

        &.active {
          color: variables.$color_accent;
        }
        &.inactive {
          color: variables.$color_warn;
        }
      }
    }
  }
}
