<div class="top-row">
  <h2 i18n>Mobile terminals</h2>
  <button mat-raised-button class="btn-default" type="button" routerLink="/mobileTerminal/{{asset.id}}/create" i18n>Create</button>
</div>
@for (mobileTerminal of mobileTerminals; track mobileTerminal) {
  <fieldset>
    <legend>{{mobileTerminal.id}}</legend>
    <a class="edit-link" routerLink="/mobileTerminal/{{mobileTerminal.id}}/edit" i18n>Edit</a>
    @if (mobileTerminal.mobileTerminalType) {
      <label i18n>Typ</label>
      <div>{{mobileTerminal.mobileTerminalType}}</div>
    }
    @if (mobileTerminal.source) {
      <label i18n>Source</label>
      <div>{{mobileTerminal.source}}</div>
    }
    @if (mobileTerminal.softwareVersion) {
      <label i18n>Software version</label>
      <div>{{mobileTerminal.softwareVersion}}</div>
    }
    @if (mobileTerminal.antenna) {
      <label i18n>Antenna</label>
      <div>{{mobileTerminal.antenna}}</div>
    }
    @if (mobileTerminal.satelliteNumber) {
      <label i18n>Satellite number</label>
      <div>{{mobileTerminal.satelliteNumber}}</div>
    }
    @if (mobileTerminal.serialNo) {
      <label i18n>Serial no.</label>
      <div>{{mobileTerminal.serialNo}}</div>
    }
    @if (mobileTerminal.inactivated) {
      <label i18n>Inactive</label>
      <div>{{mobileTerminal.inactivated}}</div>
    }
  </fieldset>
}
