<div id="map-layers-panel" class="content-container">
  <h3 i18n>Areas</h3>
  @for (mapLayer of mapLayers; track mapLayer) {
    <mat-checkbox
      [checked]="this.activeMapLayers.includes(mapLayer.typeName)"
      (change)="toggleMapLayer(mapLayer.typeName)"
    >{{mapLayer.areaTypeDesc}}</mat-checkbox>
  }
  <h3 i18n>Layers</h3>
  <mat-checkbox
    [checked]="this.activeMapLayers.includes('openstreetmap')"
    (change)="toggleOpenStreetMap()"
  >OpenStreetMap</mat-checkbox>
  @for (layer of cascadedLayers; track layer) {
    <mat-checkbox
      [checked]="this.activeMapLayers.includes(layer.name)"
      (change)="toggleMapLayer(layer.name)"
      matTooltip={{layer.abstract}}
    >{{layer.title}}</mat-checkbox>
  }
</div>
