@use "variables.scss";
#map-layers-panel.content-container {
  display: grid;
  grid-row-gap: variables.distance(0.5);
  padding: variables.distance(1);

  mat-checkbox {
    background: white;
    padding: variables.distance(0.5) variables.distance(1);
    overflow: hidden;

    .mat-checkbox-layout {
      max-width: 100%;

      .mat-checkbox-label {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
