@use "variables.scss";

notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: variables.$distance;

  & > * {
    background: white;
    padding: variables.distance(2);
  }

  .search-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .notes {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: variables.$distance;

    .note {
      display: grid;
      grid-template-columns: 1fr 100px;

      & > * {
        background: variables.$color_cold_gray;
        padding: variables.distance(2);
      }

      .left-column {
        display: grid;
        grid-row-gap: variables.$distance;

        .user {
          font-weight: bold;
        }
        .date {
          margin-left: variables.$distance;
          color: variables.$color_gray;
        }

        .note-text {
          white-space: pre-wrap;
        }
      }

      .right-column {
        border-left: variables.distance(0.5) dotted #ffffff;
        .menu {
          place-self: center;
          display: grid;
          grid-row-gap: variables.$distance;

          .icon-wrapper,
          .edit-link {
            text-decoration: none;
            color: variables.$color_turquoise;
            border-radius: 30px;
            background: white;
            display: grid;
            width: 60px;
            height: 60px;
            cursor: pointer;
            i {
              font-size: 25px;
              place-self: center;
            }
          }
        }
      }
    }
  }
}

.notes-list--menu .mat-menu-content {
  button {
    font-weight: bolder;
  }
  .notes-list--menu-delete-button {
    color: variables.$color_warn;
  }
}
