<div class="search-wrapper">
  <mat-form-field>
    <mat-label>Search for notes</mat-label>
    <input matInput [(ngModel)]="searchString" (ngModelChange)="searchNotes($event)">
  </mat-form-field>
</div>
<div class="notes">
  @for (note of filteredNotes; track trackByNoteId($index, note)) {
    <div class="note">
      <div class="left-column">
        <div>
          <span class="user">{{note.createdBy}}</span>
          <span class="date">{{note.createdOnFormatted}} <span class="timezone">({{userTimezone}})</span></span>
        </div>
        @if (!notesInEditMode.includes(note.id)) {
          <div class="note-text" [innerHtml]="note.note"></div>
        }
        @if (notesInEditMode.includes(note.id)) {
          <notes-form
            [note]="note"
            [save]="updateNote"
            [create]="false"
            [cancel]="cancelEditNote(note.id)"
            [dontUpdate]="true"
          ></notes-form>
        }
      </div>
      <div class="right-column">
        <div class="menu">
          <a matRipple [matMenuTriggerFor]="menu" class="edit-link">
            <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
          </a>
          <mat-menu #menu="matMenu" class="notes-list--menu">
            @if (note.createdBy === username) {
              <button mat-menu-item (click)="editNote(note.id)" i18n>Edit note</button>
              <button mat-menu-item (click)="openDeleteDialog(note)" class="notes-list--menu-delete-button" i18n>Delete note</button>
              <!--
              <button mat-menu-item disabled="disabled" i18n>Add file</button>
              <button mat-menu-item disabled="disabled" i18n>Print note</button>
              -->
            }
          </mat-menu>
        </div>
      </div>
    </div>
  }
</div>
